<div class="toolbar" role="banner">
  <span class="toolbar-title">IPFS Image Upload Service Provider for Mixnet</span>
  <div class="spacer"></div>
  <a
    href="https://nymtech.net/"
    title="Nym"
    target="_blank"
  >
    <img src="../assets/images/ui/nym-logo-icon.png" alt="Nym Logo" width="48" height="48">
  </a>
  <h3> X </h3>
  <a
    href="https://docs.ipfs.tech/"
    title="IPFS"
    target="_blank"
  >
    <img src="../assets/images/ui/ipfs-logo-icon.png" alt="IPFS Logo" width="48" height="48">
  </a>
  <div class="toolbar-tag">
    <p>Service Provider
    </p>
  </div>
</div>

<div class="content" role="main">
  <h2>IPFS Service Provider for Mixnet</h2>
  <p>Using js-ipfs to handle client requests to add and retrieve files via the mixnet.</p>

  <div class="section-container">
      <div *ngIf="ipfsId != null; else loading" data-test="ipfs-info">
        <h4>🔌 Current IPFS Node Information</h4>
        <p>
          <b>IPFS:</b><span data-test="ipfs-info-id">{{ ipfsId }}</span>
        </p>
        <p>
          <b>Version:</b><span data-test="ipfs-info-version">{{ ipfsVersion }}</span>
        </p>
        <p>
          <b>Status:</b><span data-test="ipfs-info-status">{{ ipfsClientStatus }}</span>
        </p>
      </div>
    
      <ng-template #loading>
        <p>
          <b>Loading...</b>
        </p>
      </ng-template>

  </div>

  <h3>Manual File Upload</h3>

  <div class="section-container">
    
    <input 
    type="file"
    accept="image/jpeg, image/png"
    #fileInput
    class="manual-file-input"
    (change)="onFileSelect(fileInput)">
  
    <button
      class="card card-small inactive upload-button"
      (click)="uploadFile(currentSelectedSingleFile)"
      [disabled]="!currentSelectedSingleFile"
    >
    <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" style="color: #fff !important;"><path d="M22.5 40V21.45l-6 6-2.15-2.15L24 15.65l9.65 9.65-2.15 2.15-6-6V40ZM8 18.15V11q0-1.2.9-2.1Q9.8 8 11 8h26q1.2 0 2.1.9.9.9.9 2.1v7.15h-3V11H11v7.15Z"/></svg>
      Upload
    </button>
   
  </div>

  <h3>IPFS Recent Actions History</h3>

  <p *ngIf="dataLogItems.length == 0">No recent actions to display.</p>
  <div class="section-container">
    <span *ngFor="let item of dataLogItems.reverse()">
        <div class="data-item-card" [ngStyle]="{'background-color':item.methodOfRequest == 'Client Request' ? '#8ab1db8a' : '#dbb38a8a' }">
          <p>🗓️ {{ item.dateTime }}</p> 
          <p>Type : {{ item.type }}</p>
          <br>
          <p>📄 {{ item.name }}</p>
          <div *ngIf="item.methodOfRequest == 'Client Request';then client else manual"></div>
          <ng-template #client><p style="font-family: sans-serif;color : white">🌐 {{ item.methodOfRequest }}</p></ng-template>
          <ng-template #manual><p style="font-family: sans-serif;color : white">🔧 {{ item.methodOfRequest }}</p></ng-template>
          <p>Size : {{ item.size }}</p>
          <br>
          <a href="https://ipfs.io/ipfs/{{item.cid}}"><p style="cursor: pointer;">🔗 IPFS Link</p></a>
          <hr>
          <img style="max-height: 200px;" src="{{ item.dataUrl }}" alt="{{ item.dataUrl }}">
      </div>
    </span>
  </div>

  <svg
    id="clouds"
    xmlns="http://www.w3.org/2000/svg"
    width="2611.084"
    height="485.677"
    viewBox="0 0 2611.084 485.677"
  >
    <title>Gray Clouds Background</title>
    <path
      id="Path_39"
      data-name="Path 39"
      d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
      transform="translate(142.69 -634.312)"
      fill="#eee"
    />
  </svg>
</div>

<router-outlet></router-outlet>
